body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b124c;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Duna';
    src: url('fonts/nome/Dune_Rise.otf') format('opentype'), url('fonts/nome/Dune_Rise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/nav/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxanium';
    src: url('fonts/banner/Oxanium-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Deltha';
    src: url('fonts/topicos/Deltha.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: absolute;
    text-align: right;
    margin-right: 20px;
    z-index: 2;
    right: 0;
}

.navlink {
    color: #fbe4d8;
    font-size: large;
    font-family: 'Comfortaa';
    text-decoration: none;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 24px;
    margin-right: 20px;
    border-radius: 10px;
    transition: background 0.3s ease;
    display: inline-block;
}

.navlink:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.titulos-banner {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fbe4d8;
}

.titulos-banner h1 {
    font-family: 'Duna';
    font-size: 90px;
    margin: 5px; 
}

.titulos-banner h2 {
    font-family: 'Oxanium';
    letter-spacing: 3px;
}
#divisão-um {
    background-color: #451952;
    height: 45px;
}

.container-sobre-mim {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    height: 800px;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:ed;
    
}

.descrição{
    background-color:bue;
    margin-top: 40px;
    margin-right: 120px;
    font-family: 'Comfortaa';
    color: #fbe4d8;
}

.foto img {
    width: 400px;
    height: auto;
    border: double #ae4459 5px;
    border-radius: 2px;
    box-shadow: 0px 0px 70px 35px #ae44595e;
    transition: transform 0.3s ease;
}

.foto img:hover {
    transform: scale(1.01);
}

#descrição_quem-sou {
    color:#f39f5a;
    font-family: 'Deltha';
    font-size: 50px;
}

.descrição_texto {
    color: #fbe4d8;
    font-size: x-large;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 35px;
}

.descrição_contato_lista {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
    font-size: larger;
    color: #fbe4d8;
    letter-spacing: 2px;
    line-height: 38px;
    margin-top: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ae44a086;
    border-radius: 30px;
}

.descrição_contato_lista a {
    color: #fbe4d8;
    text-decoration: none;
}

.descrição_contato_lista a:hover {
    text-decoration: underline;
}

#linha_divisão-dois {
    background-color: #190019;
    height: 5px;
}

#habilidades {
    display: inline-block;
    color: #f39f5a;
    font-family: 'Deltha';
    font-size: 60px;
    padding: 20px;
    border-radius: 4px;
    margin-left: 70px;
    margin-bottom: -4px;
}
.container-habilidades {
    background-image: url(imagens/background_habilidades.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 760px;
    line-height: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}
.cointainer-hardskills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 78px;
}

.cointainer-hardskills-segunda-linha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 78px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Comfortaa';
    font-size: x-large;
    text-align: center;
    border: #ffe7e7 solid 3px;
    background-color: #fbe4d89d;
    width: 300px;
    border-radius: 20px;
    padding: 15px 6px;
    max-height: 50px;
}

.skill:hover {
    border-color: #b421b4;
}

.container-softskills {
    text-align: justify;
    font-family: 'Comfortaa';
    font-size: x-large;
    background-color: #ae4459;
    border:#ffe7e7 solid 3px;
    background-color: #fbe4d89d;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 78px 0 78px;
}

.container-softskills:hover {
    border-color: #b421b4;
}

.certificados {
    display: flex;
    gap: 42px;
    justify-content: center;
    margin-bottom: 27px;
}

#cursa_git {
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: #ffe7e7 solid 3px;
    margin-top: 40px;
}

#cursa_git:hover {
    border-color: #b421b4;
}

#participação {
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: #ffe7e7 solid 3px;
    margin-top: 40px;
}

#participação:hover {
    border-color: #b421b4;
}

.espaço {
    background-color: #fbe4d89d;
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: #ffe7e7 solid 3px;
    margin-top: 40px;
}

#linha_divisão-tres {
    background-color: #190019;
    height: 5px;
}

.projetos {
    background-color: #200725;
    height: 650px;
}

#projetos {
    display: inline-block;
    color: #f39f5a;
    font-family: 'Deltha';
    font-size: 60px;
    padding: 20px;
    margin-left: 70px;
}

.container-projetos {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 40px 50px 0px 50px;
     
}

#API-video {
    width: 600px;
    height: auto;
    border: #190019 solid 5px;
    border-radius: 2px;
    box-shadow: #581258 0px 0px 30px 2px;
    margin-left: 40px;
}

.textinho {
    background-color: #f39f5a00;
    font-family: "Comfortaa";
}

.textinho h1 {
    font-size: x-large;
    color: #f39f5a;
    margin-top: 6px;
    margin-bottom: 4px;
}

.textinho p {
    color: #fbe4d8;
    font-size: large;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 35px;
    margin-right: 39px;
}

#API-link {
    text-decoration: none;
    color: #fbe4d8;
    font-size: large;
    font-family: "Comfortaa";
    background-color: #f39f5a4d;
    border-radius: 30px;
    padding: 6px;
    width: 300px;
    text-align: center;
    align-self: start;
    justify-self: center;
    margin-right: 30px;
    margin-top: -80px;
 }

 #API-link:hover {
    text-decoration: underline;
 }
